* 
{
    user-select: none;
}

@font-face 
{
    font-family: 'rubik';
    src: url('fonts/RubikDistressed-Regular.ttf');
}

body 
{
    background-color: #5ca8e6;
    background-image: url('Imagens/fundo.jpeg');
    background-repeat: repeat-x;
    font-family: 'rubik';
}

.rotate45 
{
    transform: rotate(-45deg);
}

#main 
{
    display: flex;
}

#main .coluna 
{
    width: 100%;
    padding-top: 50px;
}

#placar 
{
    display: block;
    margin-top: 25px;
    font-size: 60px;
    text-align: center;
}

#narval
{
    display: block;
    width: 242px;
    margin: 50px auto;
    cursor: pointer;
}

#narval:hover
{
    transform: scale(1.1);
}

#narval:active 
{
    transform: scale(1);
}

#narval-prof
{
    display: block;
    width: 290px;
    margin: 40px 37px 30px 0px;
    cursor: pointer;
}

#narval-prof:hover
{
    transform: scale(1.1);
}

#narval-prof:active 
{
    transform: scale(1);
}

#narval-3d
{
    display: block;
    width: 260px;
    margin: 28px auto;
    cursor: pointer;
}

#narval-3d:hover
{
    transform: scale(1.1);
}

#narval-3d:active 
{
    transform: scale(1);
}

#narval-roxo
{
    display: block;
    width: 260px;
    margin: 38px auto;
    cursor: pointer;
}

#narval-roxo:hover
{
    transform: scale(1.1);
}

#narval-roxo:active 
{
    transform: scale(1);
}

#seta-direita:hover
{
    transform: scale(1.1);
}

#seta-direita:active 
{
    transform: scale(1);
}

#seta-esquerda:hover
{
    transform: scale(1.1);
}

#seta-esquerda:active 
{
    transform: scale(1);
}

#div-narval
{
    display: flex;
}

#choco_id
{
    margin: 10px 0 0 10px;
}

#seta-esquerda, #seta-direita
{
    display: block;
    margin-top: 100px;
    width: 100px;
    flex: 1;
}

#narval-id
{
    flex: 3;
}

.caixa-menu 
{
    position: relative;
    background-color: rgba(215, 244, 244, 0.8);
    margin: 10px 30px;
    border: #82BFE0 5px solid;
    border-radius: 24px;
    padding: 25px 20px;
    min-height: 100px;
    opacity: 0.9;
}

.caixa-menu:before 
{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-image: url('Imagens/fundo-menu.jpeg');
    background-size: contain;
    background-repeat: repeat-y;
}

.caixa-menu-conteudo 
{
    position: relative;
}

.linha 
{
    padding-left: 16px;
    display: flex;
}

.conquista_1
{
    display: block;
}

.conquistas
{
    margin: 5px 5px 10px 5px;
    width: 180px;
}

.conquistas:hover
{
    transform: scale(1.1);
}

.caixa-upgrade 
{
    background-color: #9CC1FF;
    border-radius: 18px;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    display: flex;
}

.col-icone 
{
    padding-top: 10px;
    flex: 1;
}

.col-icone img 
{
    width: 90%;
}

.col-texto 
{
    flex: 2;
    padding-top: 18px;
    padding-right: 20px;
}

.titulo 
{
    display: block;
    text-align: center;
    font-size: 30px;
    margin-top: -7px;
} 

.descricao 
{
    display: block;
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
    margin-bottom: -5px;
}

.col-botao 
{
    flex: 1;
    margin-right: 10px;
}

.botao 
{
    background-color: #F6EDA0;
    display: block;
    width: 90%;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    padding: 15px 3px;
    cursor: pointer;
    border: 0 none;
    font-family: 'rubik';
}

.botao:hover 
{
    background-color: #e0d992;
}